.sep {
    height: 7px;
    background-color: rgb(46, 42, 42);
}
.first{
    height: 544px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 0%;
    margin-bottom: 0%;

}